# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Jupyter Notebook
.ipynb_checkpoints
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# DS_Store files
*.DS_Store
# Specific credential INI files
db.ini
praw.ini
wandb.ini